<style>
    .footer {
      position: fixed;
      left: 0;
      height: 40px;
      bottom: 0;
      padding: 10px 10px;
      width: 100%;
      background-color: #E7E7E7;
      color: black;
      text-align: center;
    }
    </style>
    
    <div class="footer">
      <p>© 2020 Copyright: EggHub.org</p>
    </div>
 </body>
</html>