<%- include ("partials/header") %>


<div class="container">
    <br><br><br><br>
    <div class="row">
        <div class="col-md-12">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1498654077810-12c21d4d6dc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            <div class="caption">
              <h3 style="text-align: center;"><a> About Us </a></h3>
              <p style="text-align: justify; padding: 10px 20px 10px 20px;">This map shows a color coded variation of supply of eggs for different countries according to the availability of eggs. There are a few parameters that can also be viewed when hovered over a country.
                Given the mounting evidence that eggs can improve maternal and child nutrition in developing countries, we are implementing projects and new innovations in egg production, egg-based products, models, tools and approaches to address protein and micronutrient malnutrition during pregnancy, infancy, and adolescence.
<br>
To support countries and partners working in this area, we have developed the egg hub website - a one-stop shop for information on egg production and consumption in LMICs, including policy publications, research studies and evaluations and success stories from around the world.
              <div style="text-align: center">
              
              </div>
            </div>
          </div> 
        </div>

      </div>
</div>
<%- include ("partials/footer") %>