<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>contact us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.min.css?h=fa877eecb2e5e5d8de5c692b42e18e6b">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EggsHub</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Start: Contact Form Clean -->
    <div class="contact-clean">
        <form data-bss-recipient="c8326898a895b823b5d54a2f82d292d1">
            <h2 class="text-center">Contact us</h2>
            <!-- Start: Success Example -->
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Enter Name" required=""></div>
            <!-- End: Success Example -->
            <!-- Start: Error Example -->
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Enter Email" required="">
                <!-- End: The Error Message -->
            </div>
            <!-- End: Error Example -->
            <div class="form-group"><textarea class="form-control" name="Description" rows="14" placeholder="Description"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>

    <div style="padding-left: 850px;">
    <a href="/dashboard" >Go Back</a>
    </div>
    <!-- End: Contact Form Clean -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/smart-forms.min.js?h=0c556d5438933bda409408695b5733e7"></script>

<%- include ("partials/footer") %>