<%- include ("partials/header") %>

<h1 style="text-align: center; color:lightslategray;">Eggs Supply Map</h1>
<br>
<div style="padding: 0px 400px;">
<iframe width="900" height="640" frameborder="4" scrolling="no" src="//plotly.com/~siddharth_275/5.embed"></iframe>
</div>

<%- include ("partials/footer") %>